/* EventCard.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.event-card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    color: white;
    overflow: hidden; /* Prevents overflow */
}

.event-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    border-radius: 10px;
}

.event-card .overlay {
    position: relative;
    z-index: 2;
    padding: 20px;
}


.event-card h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event-card p {
    color: white;
    font-size: 1rem;
    margin-bottom: 8px;
}

.event-card button, a {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.event-card button,a:hover {
    background-color: #0056b3;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
